.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}

.login > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  
}

.login > a {
    padding: 20px;
    background-color: green;
    border-radius: 99px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    
}

.login > a:hover{
    background-color: rgb(61, 107, 0);
}